<!DOCTYPE html>
<html >
    <head>
        <title>Editar Editorial</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <nav th:replace="/fragmentos/nav :: nav"></nav>

        <h2>EDITAR EDITORIAL</h2>

        <form action="/editorial/editar-editorial" method="POST">
            <p th:if="${error != null}" th:text="${error}" style="color: red"></p>
            <input type="hidden" name="id" th:value="${editorial.id}">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre de la editorial</label>
                <input type="text" class="form-control" id="nombre" name="nombre" th:value="${editorial.nombre}">
            </div>
            <button type="submit" class="btn btn-primary">Aceptar</button>
        </form>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
